<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/classes.css">
</head>
<body>

    <%- include('../includes/nav.ejs') %>

    <% if (classes.length > 0) { %>

    <ul class="d-flex row justify-content-around no-bullets">
        <% for (let cl of classes) { %> 
        <li class="p-3 mb-5 inner-list rounded col col-xl-3 col-lg-5 col-md-5 col-sm-8 col-10 mx-3">
           <div class="row ">
             <div class="column class-card mx-auto">
                <div class="card">
                    <h2 class="subject"><%= cl.className %></h2>
                    <p class="subject-branch"><%= cl.branch %></p>
                    <p class="sub-teacher">No. of students enrolled : <%= cl.students.student.length %></p>
                    <a href="/teacher/assignments/<%= cl._id %>" class="stretched-link"></a>
                </div>
                <form action="/teacher/create-assignments/<%= cl._id %>" method="GET">
                <p><button class="enroll-btn">Create Assignment</button></p>
                </form>
                <form action="/teacher/delete-class" method="POST">
                    <p><button class="delete-btn right">Delete Class</button></p>
                    <input type="hidden" name="classId" value="<%= cl._id%>">
                </form>
             </div>
            </div>
        </li>
        <% } %>
      </ul>

      <% } else { %>
        <h1 class="no-cl">No Classes Found! </h1>
        <h3 class="no-cl1">Click on Create Class to create a class.</h3> 
    <% } %>

    <%- include('../includes/end.ejs') %>